/* Style Sheet */
html{

}
body{

}

/* Navigation bar */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    border: 2px solid #111;
  }
  
nav li:not(.logged_in) {
    float: left;
}
  
nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}
  
nav li a:hover {
    background-color:whitesmoke;
  }

nav li a img{
  width: 100%;
  height: 50px;
}
/* Footer */
footer{
  list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: black;
    color: white;
}

/* HOME */
body main{
  display: block;
  max-width: 90%;
  margin-left: 5%;
}