/* Style Sheet */
html{

}

/* Navigation bar */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    border: 2px solid #111;
  }
  
nav li:not(.logged_in) {
    float: left;
}
  
nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
nav li a:hover:not(.logged_in) {
    background-color:whitesmoke;
  }
  
nav li a.logged_in{
    background-color: cornsilk;

}
/* Footer */
footer{
  list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: black;
    color: white;
}