{% extends 'layout.html' %}

{% block content %}

<main>

<h1>All Questions</h1>
{% for post in posts %}

<div class="grid_container">
<h3 class="title">{{ post.title }}</h3>
<p class="discussion">Discussion: {{ post.discussion }}</p> 
<div class="other_information">
<p>Posted by: <a class="name" href="/profile/{{post.post_user.id}}"><strong>{{ post.post_user.username }}</strong></a></p>
<p>date: {{ post.date }} 
<p>comments: {{ post.comments }}</p>
<p class="tags">Tags: {% for catego in post.categories_post %}
    {{catego.topic}}
    {% endfor %}
</p>
</div class="comment_button">
{% if g.logged_in_user %}
    <a href="/comment/{{post.id}}">💬</a>
{% else %}
    <a href="/user">💬</a>
{% endif %}
</div>

{% endfor %}
</main>
{% endblock %} 