{% extends 'layout.html' %}

{% block content %}
<div class="post_form"></div>
<h1>post</h1>
<form method="POST" enctype="multipart/form-data">
    <!-- Form content -->   
    {{ form.csrf_token }}
    <p>Title: {{ form.title }} <span style="color:red">{{ form.title.errors }}</span></p>
    <p>Discussion: {{ form.discussion }} <span style="color:red">{{ form.discussion.errors }}</span></p>
    <p>{{ form.category }}</p>
    <input type="submit" value="Post">
</form>
<p>{{error}}</p>

{% endblock %} 