{% extends 'layout.html' %}

{% block content %}
<main>
<img src="/static/logo/sampleProfile.jpg" width="200px" height="200px">
<!-- Logout button -->
<p class="username"><strong>{{ user.username }}</strong></p>
<p>Email address: {{ user.email }}</p>
{% if g.logged_in_user == user.id%}
    <div class="logout">
    <button onclick="window.location = 'http://127.0.0.1:5000/logout'" type="submit">Logout</button>
    </div>
{% endif %}

<div class="profile">
{% for each_post in post %}
    <p><a class="title" href="/comment/{{each_post.id}}"><strong>{{each_post.title}}</strong></a><br>
    <a class="discussion" href="/comment/{{each_post.id}}">{{each_post.discussion}}</a></p>
{% endfor %}

</div>

</main>
{% endblock %}