{% extends 'layout.html' %}

{% block content %}
<div class="signup_form">
<form method="POST" enctype="multipart/form-data" class="signup_form_content">
    <!-- Form content -->
    <h1>sign up</h1>
    {{ form.csrf_token }}
    <p>Username</p> 
    <p>{{ form.username }}</p>
    <p>email</p>
    <p>{{ form.email }}</p>
    <p>password</p>
    <p>{{ form.password}}</p>
    <p>re-enter your password</p>
    <p>{{ form.re_password }}</p>
    <input type="submit" value="Sign Up">
    <p style="color: red;">{{ error }}</p>
</form>
</div>

{% endblock %}