{% extends 'layout.html' %}

{% block content %}
<h1>sign up</h1>
<form method="POST" enctype="multipart/form-data">
    <!-- Form content -->
    
    {{ form.csrf_token }}
    <p>Username: {{ form.username }} <span style="color:red">{{ form.username.errors }}</span></p>
    <p>email: {{ form.email }} <span style="color:red">{{ form.email.errors }}</span></p>
    <p>password: {{ form.password}} <span style="color:red">{{ form.password.errors }}</span></p>
    <p>re-enter your password: {{ form.re_password }} <span style="color:red">{{ form.re_password.errors }}</span></p>
    <input type="submit" value="Sign Up">
</form>
{{ error }}
{% endblock %}