{% extends 'layout.html' %}

{% block content %}<h1>Login</h1>
<form method="POST" enctype="multipart/form-data">
    <!-- Form content -->   
    {{ form.csrf_token }}
    <p>Username or email: {{ form.username_or_email }} <span style="color:red">{{ form.username_or_email.errors }}</span></p>
    <p>password: {{ form.password}} <span style="color:red">{{ form.password.errors }}</span></p>
    <input type="submit" value="Login">
</form>
<p>{{error}}</p>
<p>Don't have an account? <a href="/signup">sign up</a> right now!</p>

{% endblock %}